@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Roboto";
  
    font-display: swap;
    src:
      url("fonts/roboto-light.woff2") format("woff2"),
      url("fonts/roboto-light.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto";
  
    font-display: swap;
    src:
      url("fonts/roboto-bold.woff2") format("woff2"),
      url("fonts/roboto-bold.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 900;
    font-family: "Roboto";
  
    font-display: swap;
    src:
      url("fonts/roboto-black.woff2") format("woff2"),
      url("fonts/roboto-black.woff") format("woff");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: #f4f4f7;
}

html {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: normal;
    color: #2d2d42;
}

a {
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
  
    white-space: nowrap;
  
    border: 0;
  
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.letter-link {
    line-height: 30px;
    color: #f4f4f7;
    display: block;
    width: 580px;
    margin-left: -200px;
    padding: 24px 100px 24px 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: url("img/icon-next.svg");
    background-repeat: no-repeat;
    background-position: 500px center;
    transition: 0.5s;
}

.letter-link:hover {
    background-color: #64cae1;
}

.letter-link--footer {
    background-color: #64cae1;
}

.letter-link--footer:hover {
    background-color: transparent;
}

.heading__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #2d2d42;
    width: 100%;
    margin-bottom: 30px;
}

.heading__title--about {
    color: #f4f4f7;
}

.heading__title--activity {
    padding-right: 100px;
}

.heading__title--activity-list {
    color: #c0c6c8;
    margin-bottom: 75px;
    padding-right: 100px;
}

.heading__title--work,
.heading__title--inside {
    margin-bottom: 25px;
    padding-left: 200px;
}

.heading__text {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    color: #2d2d42;
    width: 100%;
    padding-right: 100px;
    margin-bottom: 90px;
}

.heading__text--about {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 78px;
    color: #f4f4f7;
}

.heading__text--activity {
    margin-bottom: 85px;
}

.heading__text--work,
.heading__text--inside {
    margin-bottom: 90px;
    padding-left: 200px;
}

.header {
    position: fixed;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
    background-color: transparent;
}

.header__image-wrapper {
    display: block;
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 120px;
    cursor: pointer;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    column-gap: 51px;
    list-style: none;
    width: 780px;
}

.menu__link {
    font-size: 15px;
    line-height: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f4f4f7;
    border: 1px solid transparent;
    transition: 0.3s;
}

.menu__link:hover {
    border-bottom: 1px solid #f4f4f7;
}

.language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
    width: 160px;
}

.language__button {
    font-size: 15px;
    line-height: 20px; 
    font-weight: 300;
    color: #f4f4f7;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.language__button:hover {
    border: 1px solid #f4f4f7;

}

.language__button--current,
.language__button--current:hover  {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.about {
    margin-bottom: 100px;
    padding: 52px 200px 0; 
}

.about {
    padding-top: 172px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("img/img-header.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                -webkit-image-set(url("img/img-header.webp") 1x);
    background-color: #44944a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.activity {
    width: 100%;
    padding: 90px 100px 109px 200px;
    background-color: #ffffff;
}

.activity__text {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
    color: #2d2d42;
}

.direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    column-gap: 46px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.direction__item {
    width: calc((100% - 120px) / 3);
    margin-bottom: 70px;
}

.direction__image {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.direction__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.activity__list {
    column-count: 2;
    column-gap: 60px;
    list-style: none;
    margin-left: -60px;
}

.activity__title-list {
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #c0c6c8;
    margin-bottom: 75px;
}

.activity__item {
    position: relative;
    margin-bottom: 27px;
    padding-left: 60px;
}

.activity__item::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 1px;
    display: block;
    background-color: #64cae1;
}

.work {
    padding-top: 100px;
    margin-bottom: 30px;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
}

.work__item {
    display: flex;
    width: calc(50% - 10px);
    margin-bottom: 70px;
}

.work__item--large {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.description {
    position: relative;
    min-height: 600px;
    margin-bottom: 20px;
    padding: 200px 200px 20px;
    background-color: #93a4a9;
    overflow: hidden;
}

.description--technology {
    margin-bottom: 0;
}

.description--team {
    margin-bottom: 100px;
}

.description--slider {
    width: 100%;
    margin-bottom: 0;
    margin-left: 200px;
    padding: 0;
    padding-top: 220px;
    
}

.description__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.description__image--technology {
    transition: 0.5s;
}

.description__image--technology:hover {
    transform: scale(1.2);
}

.description__description {
    position: relative;
    z-index: 1;
    width: 380px;
    min-height: 380px;
    padding: 40px;
    background-color: #f4f4f7;
}

.description__description--technology {
    background-color: #64cae1;
}

.description__description--team {
    margin-left: auto;
}

.description__title {
    font-size: 13px;
    line-height: 20px; 
    font-weight: 900;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    color: #2d2d42;
    margin-bottom: 39px;
}

.description__title--technology {
    color: #f4f4f7;
}

.description__title--team {
    margin-bottom: 50px;
}

.description__text {
    font-size: 30px;
    line-height: 40px; 
    color: #2d2d42;
}

.description__text--technology {
    color: #f4f4f7;
}

.project {
    display: flex;
    flex-direction: column;
}

.project--large {
    display: block;
    width: 100%;
}

.project__image-wrapper {
    display: block;
    background-color: #64cae1;
    object-fit: cover;
    overflow: hidden;
}

.project__image {
    transition: 0.5s;
}

.project__image:hover {
    transform: scale(1.2);
}

.project__title {
    font-size: 13px;
    line-height: 20px; 
    font-weight: 900;
    letter-spacing: 1.73px;
    color: #2d2d42;
    text-transform: uppercase;
    width: 100%;
    padding: 40px 140px 30px 0;
}

.project__description {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    padding-right: 140px;
    color: #2d2d42;
}

.inside {
    margin-bottom: 80px;
}

.inside__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #2d2d42;
    margin-bottom: 25px;
    margin-left: 200px;
}

.inside__text {
    font-size: 30px;
    line-height: 40px;
    margin-left: 200px;
    margin-bottom: 90px;
}

.slider {
    position: relative;
}

.slider__list {
    list-style: none;
}

.slider__item {
    position: relative;
}

.slider__image-wrapper {
    display: block;
    margin-left: 200px;
}

.slider__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    min-height: 380px;
    background-color: #f4f4f7;
}

.slider__link {
    display: block;
    padding-top: 40px;
    padding-bottom: 28px;
}

.slider__title {
    font-size: 13px;
    line-height: 20px; 
    font-weight: 900;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    color: #2d2d42;
    margin: 0 60px 30px 0;
}

.slider__text {
    font-size: 30px;
    line-height: 40px; 
    color: #2d2d42;
    margin: 0 60px 55px 0;
}

.slider__icon-wrapper {
    display: block;
    width: 50px;
    height: 26px;
    margin-right: 60px;
}

.slider__dot-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
    list-style: none;
    width: 400px;
}

.slider__dot {
    display: block;
    width: 65px;
    height: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #c0c6c8;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.slider__dot--current {
    border-color: #2d2d42;
}

.slider__dot:hover {
    background-color: #c0c6c8;
}

.slider__dot--current:hover {
    background-color: #2d2d42;
}

.news {
    width: 100%;
    margin-bottom: 97px;
}

.news__title {
    font-size: 13px;
    line-height: 20px; 
    font-weight: 900;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    list-style: none;
}

.news__item {
    width: 280px;
}

.news__description {
    font-size: 20px;
    line-height: 30px; 
    font-weight: 300;
    margin-bottom: 13px;
}

.news__date {
    font-size: 15px;
    line-height: 20px; 
    font-weight: 300;
    color: #93a4a9;
}

.footer {
    position: relative;
    width: 100%;
    padding: 100px 102px 0 200px;
    background-color: #000000;
}

.footer__top-bar {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 75px;
}

.footer__title {
    font-size: 60px;
    line-height: 65px; 
    font-weight: 900;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    width: 498px;
}

.footer__description {
    position: relative;
    z-index: 1;
    width: 380px;
    margin-bottom: 90px;
    color: #f4f4f7;
}

.footer__list {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 118px;
    list-style: none;
}

.footer__bottom-bar {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 118px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__copyright {
    color: #f4f4f7;
    opacity: 0.5;
}

.footer__image-wrapper {
    position: absolute;
    top: 180px;
    left: 249px;
    width: 903px;
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
}

.footer__location {
    position: absolute;
    border-radius: 50%;
}

.footer__location--norway {
    top: 257px;
    left: 670px;
    width: 50px;
    height: 50px;
    background-color: #64cae1;
}

.footer__location--belarus {
    top: 282px;
    left: 754px;
    width: 40px;
    height: 40px;
    background-color: #d04b9b;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    max-width: 380px;
}

.social__button {
    display: block;
    width: 30px;
    height: 30px;
    color: #ffffff;
    transition: 0.3s;
}

.social__button:hover {
    color: #64cae1;
}

.country {
    width: 380px;
}

.country__title {
    font-size: 20px;
    line-height: 30px; 
    font-weight: 700;
    color: #f4f4f7;
    margin-bottom: 20px;
}

.country__address {
    font-size: 15px;
    line-height: 25px; 
    font-style: normal;
    color: #f4f4f7;
    margin-bottom: 70px;
}

.country__city,
.country__street {
    display: block;
}

.country__email {
    display: block;
    color: #64cae1;
}

.country__phone {
    text-decoration: none;
    color: inherit;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .about {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url("img/img-header.webp");
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    -webkit-image-set(url("img/img-header@2x.webp") 2x);
        background-color: #44944a;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .description {
        background-image: url("img/bg-work@2x.jpg");
        background-image: -webkit-image-set(url("img/bg-work@2x.webp") 2x);
    }

    .description--team {
        background-image: url("img/img-team@2x.jpg");
        background-image: -webkit-image-set(url("img/img-team@2x.webp") 2x);
    }

    .description--slider {
        background-image: url("img/img-inside@2x.jpg");
        background-image: -webkit-image-set(url("img/img-inside@2x.webp") 2x);
    }
}